 <!DOCTYPE html>
 <html lang="ru-RU">
    <head>
    </head>
    <body>
    
    	<h1> Ваши новости </h1>
        
                {{#each news}}
                   <h2>{{title}}</h2>
                   <p>{{text}}</p>
                {{/each}}
        
         
    </body>
</html>