 <!DOCTYPE html>
 <html lang="ru-RU">
    <head>
    </head>
    <body>

    	<h1> Выберите новостную ленту</h1>
    	<form action="/news/" method="post">
    		<select name="serves">
    			<option value="habra">Habrahabr</option>
    			<option value="yandex">Yandex</option>
    		</select>
    		<button>Отправить</button>
    	</form>
    </body>
</html>