 <!DOCTYPE html>
 <html lang="ru-RU">
    <head>
    </head>
    <body>
    
    	<h1> Выберите категорию </h1>
        <form action="/category/" method="post">
            <select name="title">
                {{#each category}}
                   <option value="{{href}}">{{category}}</option>
                {{/each}}
            </select>
            <input type="text" hidden="hidden" name="serves" value="{{link}}">
            <button>Отправить</button>
        </form>
            
    </body>
</html>